name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/backend || exit
            git fetch --all
            git reset --hard origin/main
            npm install

            pm2 describe backend > /dev/null
            if [ $? -ne 0 ]; then
              pm2 start server.js --name backend
            else
              pm2 restart backend
            fi

            pm2 save
ejt-gkym-xgr
